<!-- we need to create a html page with add product form and in header navigation bar-->
        <h1>Welcome to the Product Management System</h1>
        <form class="form" action="/admin/product" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <label for="name">Name:</label>
            <input class="form-control" type="text" id="name" name="name" required><br><br>

            <label for="description">Description:</label>
            <input class="form-control" type="text" id="description" name="description" required><br><br>

            <label for="price">Price:</label>
            <input class="form-control" type="number" id="price" name="price" required><br><br>

            <label for="imageUrl">Image URL:</label>
            <input class="form-control" type="text" id="imageUrl" name="imageUrl" required> <br><br>

            <button class="btn btn-primary" type="submit">Add Product</button>
            <button class="btn btn-warning" type="reset">Reset</button>
            <button class="btn btn-primary" type="button" onclick="window.location.href='/admin/products'">View Products</button>
        </form>
    </main>
